.page {
  @include  scrollable();
  padding-top: var(--padding-top);
  display: flex;
  flex-direction: column;
  height: 100vh; // ← ограничиваем высоту
  padding-bottom: 90px;
  gap: 20px;
}

.minicards {
  display: flex;
  flex-wrap: nowrap;
  gap: 8.5px;
}

.calendar_wrapper {
  width: 100%;
  cursor: pointer;
  transition: opacity 0.2s ease;
  
  &:active {
    opacity: 0.7;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.shedule_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0%;
  color: var(--Primary-color);
}

.arrow {
  font-size: 28px;
  font-weight: 300;
  color: var(--Primary-color);
  line-height: 1;
  margin-right: 4px;
}