@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-tap-highlight-color: transparent; // убирает синюю подсветку при тапе
  -webkit-touch-callout: none; // убирает меню при долгом нажатии (опционально)
}

button:hover {
  @include basic-hover();
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #fff;
  color: $text-color;
}

Link {
  outline: none;
  border: none;
  text-decoration: none;
}
#root {
  width: 100%;
  max-width: 420px;
  height: 100vh;
  background: linear-gradient(360deg, rgba(8, 10, 0, 0.95) 69.71%, rgba(90, 112, 0, 0.95) 100%);
  margin: auto;
  color: #fff;
  position: relative;
  padding-inline: 20px;
}


input[type="date"] {
  &::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
  }
}
