$background-color: #f5f4f6;
$text-color: #151515;
$muted-text-color: #5f6368;

:root {
    --large-radius: 30px;
    --medium-radius: 28px;
    --small-radius: 12px;


    
    --White-color: #fff;
    --Accent-grey-color: #A1A29F;

    --Primary-color: #9FDA16;
    --Focus-Primary-color: ;

    --Accent-color: #25300C;
    --Focus-Accent-color: ;

    --Accent-2-color: #404229;
    --Focus-Accent-2-color: ;

    --Acccent-grey-color: #26281E;
}