.page {
  display: flex;
  flex-direction: column;
  padding-top: var(--padding-top);
  gap: 20px;
  position: relative;
  height: 100vh;
  height: 100dvh;
}

.header {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 16px;
}

.title {
  @include text_h1();
  color: #fff;
  text-align: start;
}

.content {
  height: 100%;
  @include scrollable();
  padding-bottom: 100px;
  border-radius: 10px;

}

.create_button {
  @include text_h1();
  flex-shrink: 0;
  position: sticky;
  bottom: 100px;
  z-index: 999;
  box-shadow: 0 0 50px 0 #000;
}